/* .accordion-flush {
    width: 50%;
}
.accordion-item {
    max-width: 300px;
    font-size: 20px;
    font-weight: 100;
    color: #fff;
}
.header-body {
    background: rgba(4, 75, 4, 0.575);
}
.accordion-button.collapsed {
    background: #035e5e86;
    box-shadow: 3px 4px 29px #009688;
    color: #fff;
} */